<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>
The result is: <p th:text="${car}">/</p>
<div th:each="carX:${car}">
    <a th:text="${carX.getModel}">carModel</a>
    <a th:text="${carX.getSeries()}">carSeries</a>
</div>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
</body>
</html>